<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="icon" type="image/x-icon" href="https://icons8.com/icon/w0JUG294E8rU/todo-list">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
